In [16]:
from warnings import filterwarnings

filterwarnings('ignore')

import pandas as pd
import numpy as np
from copy import deepcopy

In [17]:
pd.set_option('display.max_columns', None)

In [18]:
pwd

'/Users/charlieyaris/github/cyaris.github.io/assets/network_of_wars'

In [19]:
df = pd.read_csv('../../../international_armed_conflict/Data Sources/Inter-StateWarData_v4.0.csv', encoding = 'latin-1')
# df = pd.read_csv('../../../international_armed_conflict/Data Sources/Intra-StateWarData_v4.1.csv', encoding = 'latin-1')

In [20]:
df.head()

,WarNum,WarName,WarType,ccode,StateName,Side,StartMonth1,StartDay1,StartYear1,EndMonth1,EndDay1,EndYear1,StartMonth2,StartDay2,StartYear2,EndMonth2,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,BatDeath,Version
0,1,Franco-Spanish War,1,230,Spain,2,4,7,1823,11,13,1823,-8,-8,-8,-8,-8,-8,503,2,2,2,-8,600,4
1,1,Franco-Spanish War,1,220,France,1,4,7,1823,11,13,1823,-8,-8,-8,-8,-8,-8,503,2,1,1,-8,400,4
2,4,First Russo-Turkish,1,640,Ottoman Empire,2,4,26,1828,9,14,1829,-8,-8,-8,-8,-8,-8,506,11,2,2,-8,80000,4
3,4,First Russo-Turkish,1,365,Russia,1,4,26,1828,9,14,1829,-8,-8,-8,-8,-8,-8,506,11,1,1,-8,50000,4
4,7,Mexican-American,1,70,Mexico,2,4,25,1846,9,14,1847,-8,-8,-8,-8,-8,-8,-8,1,2,2,-8,6000,4

In [22]:
df = pd.read_csv('../../../international_armed_conflict/Data Sources/directed_dyadic_war.csv', encoding = 'latin-1')
df.rename({'statea': 'c_code_a', 'stateb': 'c_code_b'}, axis = 1, inplace = True)

c_code_df = pd.read_pickle('../../../international_armed_conflict/Pickles/c_code_df.pkl')
c_code_df.rename({'c_code': 'c_code_a', 'state_name': 'state_name_a'}, axis = 1, inplace = True)

war_df = deepcopy(df[(df['warnum']==106) & (df['durindx']==1)])
war_df = deepcopy(pd.merge(c_code_df, war_df, on = 'c_code_a'))

c_code_df.rename({'c_code_a': 'c_code_b', 'state_name_a': 'state_name_b'}, axis = 1, inplace = True)

war_df = deepcopy(pd.merge(c_code_df, war_df, on = 'c_code_b'))
war_union_df = deepcopy(war_df)
war_union_df.rename({'c_code_a': 'c_code_new_a', 'c_code_b': 'c_code_new_b', 'state_name_a': 'state_name_new_a', 'state_name_b': 'state_name_new_b', 'batdtha': 'batdtha_new', 'batdthb': 'batdthb_new'}, axis = 1, inplace = True)
war_union_df.rename({'c_code_new_a': 'c_code_b', 'c_code_new_b': 'c_code_a', 'state_name_new_a': 'state_name_b', 'state_name_new_b': 'state_name_a', 'batdtha_new': 'batdthb', 'batdthb_new': 'batdtha'}, axis = 1, inplace = True)

In [23]:
war_df = deepcopy(pd.concat([war_df, war_union_df]))
war_df.sort_values(by = 'year', ascending = True, inplace = True)

duplicate_list = ['c_code_a']

war_df.drop_duplicates(subset = duplicate_list, keep = 'first', inplace = True)
war_df = deepcopy(war_df[['c_code_a', 'state_name_a', 'c_code_b', 'state_name_b', 'batdtha', 'batdthb', 'year']].reset_index(drop=True))

In [24]:
war_df

,c_code_a,state_name_a,c_code_b,state_name_b,batdtha,batdthb,year
0,255,Germany,220,France,1773700.0,1385000.0,1914
1,220,France,255,Germany,1385000.0,1773700.0,1914
2,345,Yugoslavia,300,Austria-Hungary,70000.0,1200000.0,1914
3,200,United Kingdom,640,Turkey,908371.0,325000.0,1914
4,300,Austria-Hungary,345,Yugoslavia,1200000.0,70000.0,1914
5,640,Turkey,200,United Kingdom,325000.0,908371.0,1914
6,365,Russia,300,Austria-Hungary,1700000.0,1200000.0,1914
7,211,Belgium,255,Germany,13716.0,1773700.0,1915
8,355,Bulgaria,345,Yugoslavia,87500.0,70000.0,1915
9,325,Italy,300,Austria-Hungary,650000.0,1200000.0,1915
10,360,Romania,355,Bulgaria,335706.0,87500.0,1916
11,235,Portugal,255,Germany,7222.0,1773700.0,1917
12,350,Greece,355,Bulgaria,5000.0,87500.0,1917
13,2,United States of America,255,Germany,116516.0,1773700.0,1917

In [26]:
network_nodes = list(war_df['state_name_a'])

graph_file = open("network_of_wars.json", 'w+')

json_dic = {}
json_dic['nodes'] = {}
json_dic['links'] = {}
start_line = '{\n  "nodes": [\n'
middle_line = '  ],\n  "links": [\n'
end_line = '\n  ]\n}'

graph_file.write(start_line)
for i, node in enumerate(war_df['state_name_a']):
    if node == network_nodes[-1]:
        add_line = '    {"country": "' + node + '", "size": ' + str(war_df.loc[i, 'batdtha']) + '}\n'
        graph_file.write(add_line)
    else:
        add_line = '    {"country": "' + node + '", "size": ' + str(war_df.loc[i, 'batdtha']) + '},\n'
        graph_file.write(add_line)        

graph_file.write(middle_line)

for i, node_1 in enumerate(war_df['state_name_a']):
    if i+1 != len(network_nodes):
        add_line = '    {"source": ' + str(network_nodes.index(node_1)) + ', "target": ' + str(network_nodes.index(war_df.loc[i, 'state_name_b'])) + ', "bond": ' + str(1) + '},\n'
#         add_line = '    {"source": "' + str(node_1) + '", "target": "' + str(war_df.loc[i, 'state_name_b']) + '", "bond": ' + str(1) + '},\n'
        graph_file.write(add_line)
    else:
        add_line = '    {"source": ' + str(network_nodes.index(node_1)) + ', "target": ' + str(network_nodes.index(war_df.loc[i, 'state_name_b'])) + ', "bond": ' + str(1) + '}\n'
#         add_line = '    {"source": "' + str(node_1) + '", "target": "' + str(war_df.loc[i, 'state_name_b']) + '", "bond": ' + str(1) + '}\n'
        graph_file.write(add_line)

graph_file.write(end_line)

6