In [18]:
from warnings import filterwarnings

filterwarnings('ignore')

import pandas as pd
import numpy as np
from copy import deepcopy

In [19]:
pd.set_option('display.max_columns', None)

In [20]:
pwd

'/Users/charlieyaris/github/cyaris.github.io/assets/network_of_wars'

In [47]:
df = pd.read_csv('../../../international_armed_conflict/Data Sources/Inter-StateWarData_v4.0.csv', encoding = 'latin-1')
# df = pd.read_csv('../../../international_armed_conflict/Data Sources/Intra-StateWarData_v4.1.csv', encoding = 'latin-1')

aggregations = {
    'ccode': 'count'
    }

grouped_df = df.groupby(['WarName', 'WarNum']).agg(aggregations).reset_index()
grouped_df.rename({'ccode': 'total_instances'}, axis = 1, inplace = True)
grouped_df.sort_values(by = 'total_instances', ascending = False).head(20)

                    WarName  WarNum  total_instances
93             World War II     139               29
44                   Korean     151               16
92              World War I     106               15
34                 Gulf War     211               14
70              Seven Weeks      55               11
86           War for Kosovo     221                8
84     Vietnam War, Phase 2     163                8
94           Yom Kippur War     181                6
1              Arab-Israeli     148                6
8           Boxer Rebellion      82                6
37  Invasion of Afghanistan     225                6
46       Latvian Liberation     108                5
15                  Crimean      22                5
29          Franco-Prussian      58                5
60            Second Balkan     103                5
71                Sinai War     155                4
12      Communist Coalition     176                4
89          War over Angola     186                4
38         Invasion of Iraq     227                4
76              Six Day War     169                4

In [51]:
df = pd.read_csv('../../../international_armed_conflict/Data Sources/Inter-StateWarData_v4.0.csv', encoding = 'latin-1')

In [91]:
side_df = pd.read_csv('../../../international_armed_conflict/Data Sources/Inter-StateWarData_v4.0.csv', encoding = 'latin-1')
side_df = deepcopy(side_df[side_df['WarNum']==106])
# side_df.rename({'WarNum': 'warnum', 'ccode': 'c_code_a', 'Side': 'side_a'}, axis = 1, inplace = True)

In [92]:
side_df

,WarNum,WarName,WarType,ccode,StateName,Side,StartMonth1,StartDay1,StartYear1,EndMonth1,EndDay1,EndYear1,StartMonth2,StartDay2,StartYear2,EndMonth2,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,BatDeath,Version
111,106,World War I,1,345,Yugoslavia,1,7,29,1914,11,11,1918,-8,-8,-8,-8,-8,-8,-8,2,2,1,-8,70000,4
112,106,World War I,1,365,Russia,1,8,1,1914,12,5,1917,-8,-8,-8,-8,-8,-8,-8,11,2,1,-8,1700000,4
113,106,World War I,1,355,Bulgaria,2,10,12,1915,9,29,1918,-8,-8,-8,-8,-8,-8,-8,2,2,2,-8,87500,4
114,106,World War I,1,200,United Kingdom,1,8,5,1914,11,11,1918,-8,-8,-8,-8,-8,-8,-8,15,2,1,-8,908371,4
115,106,World War I,1,740,Japan,1,8,23,1914,11,11,1918,-8,-8,-8,-8,-8,-8,-8,7,2,1,-8,300,4
116,106,World War I,1,235,Portugal,1,3,1,1916,11,11,1918,-8,-8,-8,-8,-8,-8,-8,2,2,1,-8,7222,4
117,106,World War I,1,640,Turkey,2,10,28,1914,10,30,1918,-8,-8,-8,-8,-8,-8,-8,6,2,2,-8,325000,4
118,106,World War I,1,211,Belgium,1,8,4,1914,11,11,1918,-8,-8,-8,-8,-8,-8,-8,2,2,1,-8,13716,4
119,106,World War I,1,255,Germany,2,8,1,1914,11,11,1918,-8,-8,-8,-8,-8,-8,-8,15,2,2,-8,1773700,4
120,106,World War I,1,350,Greece,1,6,29,1917,11,11,1918,-8,-8,-8,-8,-8,-8,-8,2,2,1,-8,5000,4
121,106,World War I,1,360,Romania,1,8,27,1916,12,9,1917,-8,-8,-8,-8,-8,-8,-8,2,2,1,-8,335706,4
122,106,World War I,1,300,Austria-Hungary,2,7,29,1914,11,3,1918,-8,-8,-8,-8,-8,-8,-8,2,1,2,-8,1200000,4
123,106,World War I,1,220,France,1,8,3,1914,11,11,1918,-8,-8,-8,-8,-8,-8,-8,14,2,1,-8,1385000,4
124,106,World War I,1,325,Italy,1,5,23,1915,11,11,1918,-8,-8,-8,-8,-8,-8,-8,2,2,1,-8,650000,4
125,106,World War I,1,2,United States of America,1,4,17,1917,11,11,1918,-8,-8,-8,-8,-8,-8,-8,2,2,1,-8,116516,4

In [97]:
dyad_df = pd.read_csv('../../../international_armed_conflict/Data Sources/directed_dyadic_war.csv', encoding = 'latin-1')
dyad_df.rename({'statea': 'c_code_a', 'stateb': 'c_code_b'}, axis = 1, inplace = True)
dyad_df = deepcopy(dyad_df[(dyad_df['warnum']==106) & (dyad_df['durindx']==1)])

c_code_df = pd.read_pickle('../../../international_armed_conflict/Pickles/c_code_df.pkl')
c_code_df.rename({'c_code': 'c_code_a', 'state_name': 'state_name_a'}, axis = 1, inplace = True)
dyad_df = deepcopy(pd.merge(c_code_df, dyad_df, on = 'c_code_a'))
c_code_df.rename({'c_code_a': 'c_code_b', 'state_name_a': 'state_name_b'}, axis = 1, inplace = True)
dyad_df = deepcopy(pd.merge(c_code_df, dyad_df, on = 'c_code_b'))

side_df = pd.read_csv('../../../international_armed_conflict/Data Sources/Inter-StateWarData_v4.0.csv', encoding = 'latin-1')
side_df = deepcopy(side_df[side_df['WarNum']==106][['WarNum','ccode', 'Side']])
side_df.rename({'WarNum': 'warnum', 'ccode': 'c_code_a', 'Side': 'side_a'}, axis = 1, inplace = True)
dyad_df = deepcopy(pd.merge(dyad_df, side_df, on = 'c_code_a'))
side_df.rename({'c_code_a': 'c_code_b', 'side_a': 'side_b'}, axis = 1, inplace = True)
dyad_df = deepcopy(pd.merge(dyad_df, side_df, on = 'c_code_b'))

dyad_union_df = deepcopy(dyad_df)

dyad_union_df.rename({'c_code_a': 'c_code_new_a', 'c_code_b': 'c_code_new_b', 'state_name_a': 'state_name_new_a', 'state_name_b': 'state_name_new_b', 'batdtha': 'batdtha_new', 'batdthb': 'batdthb_new', 'side_a': 'side_a_new', 'side_b': 'side_b_new'}, axis = 1, inplace = True)
dyad_union_df.rename({'c_code_new_a': 'c_code_b', 'c_code_new_b': 'c_code_a', 'state_name_new_a': 'state_name_b', 'state_name_new_b': 'state_name_a', 'batdtha_new': 'batdthb', 'batdthb_new': 'batdtha', 'side_a_new': 'side_b', 'side_b_new': 'side_a'}, axis = 1, inplace = True)

In [98]:
dyad_df = deepcopy(pd.concat([dyad_df, dyad_union_df])).reset_index()

for i, country_code_1 in enumerate(dyad_df['c_code_a']):
    if int(country_code_1) < int(dyad_df.loc[i, 'c_code_b']):
        dyad_df.loc[i, 'conflict_pair'] = str(country_code_1) + " " + str(dyad_df.loc[i, 'c_code_b'])
    else:
        dyad_df.loc[i, 'conflict_pair'] = str(dyad_df.loc[i, 'c_code_b']) + " " + str(country_code_1)

dyad_df.sort_values(by = 'year', ascending = True, inplace = True)

connections_df = deepcopy(dyad_df)
duplicate_list = ['conflict_pair']
connections_df.drop_duplicates(subset = duplicate_list, keep = 'first', inplace = True)
connections_df = deepcopy(connections_df[['c_code_a', 'state_name_a', 'c_code_b', 'state_name_b', 'batdtha', 'batdthb', 'year', 'conflict_pair']].reset_index(drop=True))

countries_df = deepcopy(dyad_df)
duplicate_list = ['c_code_a']
countries_df.drop_duplicates(subset = duplicate_list, keep = 'first', inplace = True)
countries_df = deepcopy(countries_df[['c_code_a', 'state_name_a', 'batdtha', 'side_a', 'year']].reset_index(drop=True))

In [99]:
countries_df

    c_code_a              state_name_a    batdtha  side_a  year
0        255                   Germany  1773700.0       2  1914
1        300           Austria-Hungary  1200000.0       2  1914
2        220                    France  1385000.0       1  1914
3        345                Yugoslavia    70000.0       1  1914
4        365                    Russia  1700000.0       1  1914
5        640                    Turkey   325000.0       2  1914
6        200            United Kingdom   908371.0       1  1914
7        211                   Belgium    13716.0       1  1915
8        355                  Bulgaria    87500.0       2  1915
9        325                     Italy   650000.0       1  1915
10       360                   Romania   335706.0       1  1916
11       235                  Portugal     7222.0       1  1917
12       350                    Greece     5000.0       1  1917
13         2  United States of America   116516.0       1  1917

In [100]:
network_nodes = list(countries_df['state_name_a'])

graph_file = open("the_network_of_wars.json", 'w+')

json_dic = {}
json_dic['nodes'] = {}
json_dic['links'] = {}
start_line = '{\n  "nodes": [\n'
middle_line = '  ],\n  "links": [\n'
end_line = '\n  ]\n}'

graph_file.write(start_line)
for i, node in enumerate(countries_df['state_name_a']):
    if node == network_nodes[-1]:
        add_line = '    {"country": "' + node + '", "side": ' + str(countries_df.loc[i, 'side_a']) + ', "size": ' + str(countries_df.loc[i, 'batdtha']) + '}\n'
        graph_file.write(add_line)
    else:
        add_line = '    {"country": "' + node + '", "side": ' + str(countries_df.loc[i, 'side_a']) + ', "size": ' + str(countries_df.loc[i, 'batdtha']) + '},\n'
        graph_file.write(add_line)        

graph_file.write(middle_line)

for i, node_1 in enumerate(connections_df['state_name_a']):
    if i+1 != len(connections_df['state_name_a']):
        add_line = '    {"source": ' + str(network_nodes.index(node_1)) + ', "target": ' + str(network_nodes.index(connections_df.loc[i, 'state_name_b'])) + ', "bond": ' + str(1) + '},\n'
#         add_line = '    {"source": "' + str(node_1) + '", "target": "' + str(connections_df.loc[i, 'state_name_b']) + '", "bond": ' + str(1) + '},\n'
        graph_file.write(add_line)
    else:
        add_line = '    {"source": ' + str(network_nodes.index(node_1)) + ', "target": ' + str(network_nodes.index(connections_df.loc[i, 'state_name_b'])) + ', "bond": ' + str(1) + '}\n'
#         add_line = '    {"source": "' + str(node_1) + '", "target": "' + str(connections_df.loc[i, 'state_name_b']) + '", "bond": ' + str(1) + '}\n'
        graph_file.write(add_line)

graph_file.write(end_line)

6